@import "tailwindcss";

/* Apply Tenor Sans globally */
body {
  font-family: 'Tenor Sans', system-ui, sans-serif;
}

/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Disable text selection globally */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Disable tap highlight & callout on mobile */
body {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
