@import "tailwindcss";


body {
  font-family: var(--font-tenor-sans), system-ui, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
